.list {
    background-color: #0066CC;
    width: 1rem;
    margin-left: 30px;
    color: black;
    padding: 0.5rem 2rem;
    padding-right: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 4rem;
    border: none;
    border-radius: 50%;
    font-size: 30px;
    font-weight: bolder
}

.wrapper {
    background-color: rgb(15, 15, 15);
    width: 5.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35px;
    padding-right: 29px;
    padding-top: 15px;
    border-radius: 50%;
}

h4 {
    padding: 0 2rem 0;
}